# Random Garbage
__pycache__/
.antlr/
.idea/
.vscode
.clang-format
.directory

# Cloned Antlr Repo
antlr4/

# Generated
Compiler/Build/

# Documentation and/or notes
Documentation/

# Test Document
test.as