# Random Garbage
__pycache__/
.antlr/
.idea/
.vscode
.clang-format
.directory

# Cloned Antlr Repo
antlr4/

# Generated
Compiler/AuthorScriptParser/
Compiler/Build/
Compiler/Run/

# Documentation and/or notes
Documentation/
